---
import Welcome from '../components/Welcome.astro';
import Badge from "../components/Badge.astro"
import Layout from '../layouts/Layout.astro';
import LinkedinIcon from '../assets/icons/Linkedin.astro';
import GithubIcon from '../assets/icons/Github.astro';
import MailIcon from '../assets/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout 
	title="Portfolio de Fernando Alfaye - Desarrollador y Programador Fullstack Web y Multiplataforma"
	description="Portfolio de Fernando Alfaye, Desarrollador y Programador Fullstack Web y Multiplataforma."
>
	<main>
		<!-- Light background -->
		<div class="absolute inset-0 -z-10 bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)] dark:hidden"></div>

		<!-- Dark background -->
		<div class="hidden dark:flex">
			<div class="relative h-full w-full bg-slate-950">
			<div class="absolute bottom-0 left-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div>
			<div class="absolute bottom-0 right-[-20%] top-[-10%] h-[500px] w-[500px] rounded-full bg-[radial-gradient(circle_farthest-side,rgba(255,0,182,.15),rgba(255,255,255,0))]"></div>
			</div>
		</div>

		<section class="w-full lg:w-[740px] mx-auto py-44">
			<h1 class="text-5xl font-extrabold flex flex-row gap-x-4 pb-4">Hey, soy Fernando <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div>
			</h1>
			<h2 class="text-2xl text-wrap"><span class="opacity-75">Estudiante de </span><span class="text-orange-600 font-semibold">Ingeniería Informática</span></span><span class="opacity-75"> con experiencia en</span><span class="text-emerald-500 font-semibold"> desarrollo web</span> <span> y</span><span class="text-cyan-500 font-semibold"> aplicaciones multiplataforma</span></span><span class="opacity-75"> a nivel junior.</span></h2>

			<nav class="flex flex-row gap-x-5 mt-5">
				<SocialPill href="https://www.linkedin.com/in/fernandoalfaye/">
					<LinkedinIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ferfix21">
					<GithubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					<MailIcon class="size-6" />
					alfayefernando@gmail.com
				</SocialPill>
			</nav>

		</section>
	</main>
</Layout>
