---
import Welcome from '../components/Welcome.astro';
import Badge from "../components/Badge.astro"
import Layout from '../layouts/Layout.astro';
import LinkedinIcon from '../assets/icons/Linkedin.astro';
import GithubIcon from '../assets/icons/Github.astro';
import MailIcon from '../assets/icons/Mail.astro';
import SocialPill from '../components/SocialPill.astro';
import FerImg from '../components/FerImg.astro';
import Experience from '../components/Experience.astro';
import SectionContainer from '../components/SectionContainer.astro';
---

<Layout 
	title="Portfolio de Fernando Alfaye - Desarrollador y Programador Fullstack Web y Multiplataforma"
	description="Portfolio de Fernando Alfaye, Desarrollador y Programador Fullstack Web y Multiplataforma."
	keywords="portfolio, fernando alfaye, desarrollador, programador, fullstack, web, multiplataforma, ingeniero informático"
>
	<main>
		<div class="absolute inset-0 -z-10 h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]"></div>

		<SectionContainer>
			<div class="mb-2">
				<FerImg />
			</div>
			<h1 class="text-5xl font-extrabold flex flex-row gap-x-4 pb-4">Hey, soy Fernando <div class="flex justify-center items-center"><Badge>Disponible para trabajar</Badge></div>
			</h1>
			<h2 class="text-2xl text-wrap"><span class="opacity-75">Estudiante de </span><span class="text-orange-600 font-semibold">Ingeniería Informática</span></span><span class="opacity-75"> con experiencia en</span><span class="text-emerald-500 font-semibold"> desarrollo web</span> <span> y</span><span class="text-cyan-500 font-semibold"> aplicaciones multiplataforma</span></span><span class="opacity-75"> a nivel junior.</span></h2>

			<nav class="flex flex-row gap-x-5 mt-5">
				<SocialPill href="https://www.linkedin.com/in/fernandoalfaye/">
					<LinkedinIcon class="size-6" />
					LinkedIn
				</SocialPill>
				<SocialPill href="https://github.com/ferfix21">
					<GithubIcon class="size-6" />
					GitHub
				</SocialPill>
				<SocialPill>
					<MailIcon class="size-6" />
					alfayefernando@gmail.com
				</SocialPill>
			</nav>
		</SectionContainer>
		<SectionContainer>
			<Experience />
		</SectionContainer>
	</main>
</Layout>
