---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
{
    date: 'July 2025',
    title: 'Astro Portfolio with Tailwind CSS',
    description: 'A captivating personal showcase built with Astro and Tailwind CSS, featuring interactive elements, dynamic layouts, and a curated selection of my best work.',
    link: 'https://github.com/Ferfix21/portfolio.dev',
    moreText: 'View Project',
  },
  {
    date: 'Coming Soon',
    title: 'Your Next Project Could Be Here',
    description: 'Looking for a skilled developer to bring your next project to life? Let\'s collaborate and create something amazing together. Contact me to discuss your ideas and how I can help turn them into reality.',
    link: 'mailto:alfayefernando%40gmail.com',
    moreText: 'Contact Me',
  },
];
---         
<ol class="relative border-s border-gray-200 dark:border-gray-700">         
    {EXPERIENCE.map((experience) => (
        <li class="mb-10 ms-4">
            <ExperienceItem { ...experience} />
        </li>
    ))}         
</ol>