<footer { ... Astro.props } class="bg-white rounded-lg shadow-sm m-4 dark:bg-gray-800">
    <div class="w-auto mx-auto p-4 justify-center flex items-center">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2025 Fernando Alfaye. All Rights Reserved.
    </span>
    </div>
</footer>