<button
  class="p-2"
  aria-label="Alternar tema claro/oscuro"
  id="theme-toggle"
>
  <span class="inline dark:hidden">boton</span>
  <span class="hidden dark:inline">boton</span>
</button>

<script type="module" is:inline>
  document.getElementById('theme-toggle')?.addEventListener('click', () => {
    const isDark = document.documentElement.classList.toggle('dark');
    localStorage.setItem('theme', isDark ? 'dark' : 'light');
  });
</script>
