---
import "@fontsource-variable/onest"
import Header from "../components/Header.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<title>{title}</title>
		<script>
    ;(function(){
      const html = document.documentElement;
      const stored = localStorage.theme;
      const osDark  = window.matchMedia('(prefers-color-scheme: dark)').matches;
      if (stored === 'dark' || (!stored && osDark)) html.classList.add('dark');
      else html.classList.remove('dark');
    })();
  </script>
	</head>
	<body>
		<div>
			<Header />
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root{
	}

	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	html{
		font-family: "Onest Variable", system-ui, sans-serif ;
	}
</style>
