---
import "@fontsource-variable/onest"
import "../styles/global.css";
import Header from "../components/Header.astro";
import ThemeButtonScript from "../components/ThemeButtonScript.astro";

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="description" content={description} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="stylesheet" href="/src/styles/global.css">
		<title>{title}</title>
		<ThemeButtonScript />
	</head>
	<body>
		<div>
			<Header />
			<slot />
		</div>
  </body>
</html>

<style is:global>
	:root{
		color-scheme: light dark;
	}

	html{
		scroll-behavior: smooth;
	}

	body{
		display: flex;
		flex-direction: column;
		min-height: 100vh;
	}

	html{
		font-family: "Onest Variable", system-ui, sans-serif ;
	}

	@media (prefers-reduce-motion: reduce) {
		html {
			scroll-behavior: auto;
		}
	}
</style>
